{
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "useTabs": false
}
