<ion-header>
  <ion-navbar primary>
    <ion-buttons>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="addWeather()">
        <ion-icon name="cloud-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="pages">
    <ion-segment-button value="todo">
      To-Do list
    </ion-segment-button>
     <ion-segment-button value="weather">
       Weather
     </ion-segment-button>
   </ion-segment>

   <div [ngSwitch]="pages">

     <ion-list *ngSwitchCase="'todo'">
       <ion-item-sliding>
         <ion-item *ngFor="let item of items" (click)="viewItem(item)">
         <ion-avatar item-left>
           {{item.title}}
         </ion-avatar>
       </ion-item>
       <ion-item-options>
        <button ion-button color="primary" icon-left>
          <ion-icon name="checkmark-circle"></ion-icon>
          Done
        </button>
        <button ion-button color="secondary" icon-left>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
       </ion-item-options>
     </ion-item-sliding>
    </ion-list>

     <ion-list *ngSwitchCase = "'weather'">
       <weather [weather]="localWeather"
         (viewMore)="viewForecast($event)">
       </weather>

       <weather *ngFor="let weather of weatherList"
         [weather]="weather"
         (viewMore)="viewForecast($event)">
       </weather>
      </ion-list>

   </div>

</ion-content>
