<ion-card *ngIf="localWeather">
  <ion-card-header>
    <ion-card-subtitle>{{ localWeather.name }}</ion-card-subtitle>
    <ion-card-title>{{ localWeather.main.temp | temperature }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="http://openweathermap.org/img/w/{{localWeather.weather[0].icon}}.png" />
    <h3>{{ localWeather.weather[0].main }}</h3>
    <p>
      Low: {{ localWeather.main.temp_min | temperature }}
    </p>
    <p>
      High: {{ localWeather.main.temp_max | temperature }}
    </p>
  </ion-card-content>
</ion-card>
